.main{
    position: relative;
    text-align: center;
    height: fit-content;
    width: 100%;
}
.welcome{
    position: relative;
    width: 800px;
    text-align: center;
    font-size: larger;
    font-family: cursive;
    margin: auto;
}
Button{
    padding: 14px;
    border: 1px solid black;
    font-family: cursive;
    background: #8cffe0;
    color: black;
    font-size: medium;
    margin: auto;
}
.Button{
    padding-top: 20px;
    margin: auto;
    display: inline-flex;
}
.finish{
    position: relative;
    width: 800px;
    text-align: center;
    font-size: larger;
    font-family: cursive;
    margin: auto;
}
.nav-bar{

}
ul{
    background: black;
    width: fit-content;
    margin: 2px;
    padding: 0px;
    margin: auto;
}

li{ text-align: center;
    display: inline;
}
li a {
    display: inline-block;
    color: white;
    font-family: cursive;
    font-size: medium;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
