<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"
	href="/styles/cssandjs/questionmanager.css">
</head>
<body>
	<div class="main">
		<div class="nav-bar">
			<ul>
				<li><a href="" style="background: #888888; color: black">Welcome</a></li>
				<li><a href="">Question Editor</a></li>
				<li><a href="">Answer Editor</a></li>
				<li><a href="">Finish</a></li>
			</ul>
		</div>
		<div class="welcome">
			<h1>Welcome to Question Manager Page</h1>
		</div>
		<div>
			<div class="Button">
				<br /> <a th:href="@{/questioneditor(userID=${userID})}"><button
						type="submit">Next >></button></a>
			</div>
		</div>
	</div>
</body>
</html>